/*Mixins*/

@mixin mq($bp) {
    @if map-has-key($breakpoints, $bp) {
        @media screen and (min-width: map-get($breakpoints, $bp)) {
            @content;
        }
    }@else {
        @media screen and (min-width: $bp) {
            @content;
        }
    }
    
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin clearMenu {
  list-style    : none;
  margin-top    : 0;
  margin-bottom : 0;
  padding-left  : 0;
  margin-left   : 0;
}

@mixin widget {
  box-shadow: 0 4px 15px -2px rgba(255, 255, 255, 0.767);
  border : none;
  background : #fff;
}

@mixin round {
  border-radius : 0.25rem;
}

@mixin radius {
  border-radius : 1.5rem;
}

@mixin circle {
  border-radius : 50%;
}

@mixin profile-photo {
  @include round;
  flex       : none;
  height     : 3rem;
  width      : 3rem;
  object-fit : cover;
}

@mixin btn {
  border: none;
  border-radius: 25px;
  padding: 1rem 1rem;
  background-color: $color-third;
  color: $color-fourth;
  font-weight: bold;
  transition: all .2s ease-in-out;
  &:hover {
     box-shadow: 0 8px 8px -5px rgba(0, 0, 0, .3);
     margin-bottom: .2rem;
  }
}